body{width:100%; margin:0 auto; text-align:center}
h1{font-family:Verdana, Geneva, sans-serif; color:blue}
h2{font-style:normal; border-top: thin solid blue; border-width: thick; border-style: ridge;background: gray;
color:navy}
h3{font-family: "Courier", Georgia, Serif;
    text-align: center; font-weight: 100; font-size: small; font-style: normal;
    border-top: thin solid blue; border-width: thick;
border-style: ridge;background: black; color:white}
